@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap);

/* General Styles */
body {
  font-family: "Roboto";
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  padding: 0.65vh 1.8vw;
  border: 0;
  color: #f9faf8;
  border-radius: 0.8vh;
  font-weight: 800;
  font-family: "Roboto";
  cursor: pointer;
  font-size: 2vh;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2vh;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 18vw;
  background-color: #1f2937;
}

.header .logo {
  font-size: 2.25vh;
  color: #f9faf8;
  font-weight: 800;
}

.header .link a {
  font-size: 2vh;
}

/* Hero Styles */
.hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7vh;
  padding-top: 7vh;
  gap: 3.5vh;
  padding: 10vh 18vw;
  background-color: #1f2937;
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
}

.hero img {
  aspect-ratio: 16 / 9;
  max-height: auto;
  width: 30vw;
  object-fit: cover;
}

.hero .hero-title {
  font-size: 5vh;
  font-weight: 800;
  color: #f9faf8;
}

.hero .hero-desc {
  font-size: 2vh;
  color: #e5e7eb;
}

/* Information Styles */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8vh 28vw;
}

.information .info-header {
  font-size: 2.75vh;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
  padding-top: 4vh;
}

.information .img-desc {
  padding-top: 7vh;
  padding-bottom: 7vh;
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.information .img-desc div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 22vw;
  gap: 2vh;
  color: #1f2937;
}

.information .img-desc .text {
  font-size: 2vh;
}

.information .img-desc img {
  border: 0.4vh solid #3882f6;
  border-radius: 1vh;
  aspect-ratio: 1/1;
  height: auto;
  max-width: 12vw;
  object-fit: cover;
  flex-grow: 1;
}

/* Quote Styles */
.quote {
  background-color: #e5e7eb;
  font-size: 4vh;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 16vh 23vw;
}

.quote .quote-text {
  font-weight: 100;
  font-style: italic;
}

.quote .author {
  text-align: right;
  font-size: 2.5vh;
  font-weight: 800;
}

/* Sign Up Styles */
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vh 23vw;
  background-color: #3882f6;
}

.sign-up .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 45vw;
  margin: 15vh;
  padding: 10vh 10vw;
  border-radius: 2vh;
  gap: 2vw;
  flex-wrap: wrap;
}

.sign-up .container button {
  border: #f9faf8 0.3vh solid;
  color: #f9faf8;
  padding: 0.3em 2em;
}

.sign-up .container .left {
  color: #f9faf8;
}

.sign-up .sign-up-title {
  font-size: 3vh;
  font-weight: 550;
}

/* Footer Styles */
.footer {
  text-align: center;
  color: #f9faf8;
  padding: 4vh 0;
  background-color: #1f2937;
}

/* Media Queries */
@media (max-width: 1000px) {
  .hero {
    flex-wrap: wrap;
  }
  .hero img {
    width: 100%;
  }
  .information .img-desc {
    flex-wrap: wrap;
  }
  .img-desc img {
    max-width: 200%;
  }
  .info-header {
    font-size: 3vh;
  }
  .quote-text {
    font-size: 3.5vh;
  }
  .img-desc .text {
    font-size: 2.5vh;
  }
}
